DawsWebApiService/Web References/dawsSoap/dsmlQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="urn:oasis:names:tc:DSML:2:0:core" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:y="urn:oasis:names:tc:DSML:2:0:core" name="dsmlQuery" targetNamespace="urn:oasis:names:tc:DSML:2:0:core" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="urn:oasis:names:tc:DSML:2:0:core" xmlns:ns="urn:oasis:names:tc:DSML:2:0:core" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:DSML:2:0:core">
      <xsd:group name="DSMLRequests">
        <xsd:choice>
          <xsd:element name="authRequest" type="y:AuthRequest" />
          <xsd:group ref="y:BatchRequests" />
        </xsd:choice>
      </xsd:group>
      <xsd:group name="BatchRequests">
        <xsd:choice>
          <xsd:element name="searchRequest" type="y:SearchRequest" />
          <xsd:element name="modifyRequest" type="y:ModifyRequest" />
          <xsd:element name="addRequest" type="y:AddRequest" />
          <xsd:element name="delRequest" type="y:DelRequest" />
          <xsd:element name="modDNRequest" type="y:ModifyDNRequest" />
          <xsd:element name="compareRequest" type="y:CompareRequest" />
          <xsd:element name="abandonRequest" type="y:AbandonRequest" />
          <xsd:element name="extendedRequest" type="y:ExtendedRequest" />
        </xsd:choice>
      </xsd:group>
      <xsd:group name="DSMLResponses">
        <xsd:choice>
          <xsd:element name="authResponse" type="y:LDAPResult" />
          <xsd:element name="searchResultEntry" type="y:SearchResultEntry" />
          <xsd:element name="searchResultReference" type="y:SearchResultReference" />
          <xsd:element name="searchResultDone" type="y:LDAPResult" />
          <xsd:element name="modifyResponse" type="y:LDAPResult" />
          <xsd:element name="addResponse" type="y:LDAPResult" />
          <xsd:element name="delResponse" type="y:LDAPResult" />
          <xsd:element name="modDNResponse" type="y:LDAPResult" />
          <xsd:element name="compareResponse" type="y:LDAPResult" />
          <xsd:element name="extendedResponse" type="y:ExtendedResponse" />
          <xsd:element name="errorResponse" type="y:ErrorResponse" />
        </xsd:choice>
      </xsd:group>
      <xsd:element name="batchRequest" type="y:BatchRequest" />
      <xsd:element name="batchResponse" type="y:BatchResponse" />
      <xsd:complexType name="BatchRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="authRequest" type="y:AuthRequest" />
          <xsd:group minOccurs="0" maxOccurs="unbounded" ref="y:BatchRequests" />
        </xsd:sequence>
        <xsd:attribute name="requestID" type="y:RequestID" use="optional" />
        <xsd:attribute default="sequential" name="processing" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="sequential" />
              <xsd:enumeration value="parallel" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute default="sequential" name="responseOrder" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="sequential" />
              <xsd:enumeration value="unordered" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute default="exit" name="onError" use="optional">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="resume" />
              <xsd:enumeration value="exit" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="BatchResponse">
        <xsd:sequence>
          <xsd:group minOccurs="0" maxOccurs="unbounded" ref="y:BatchResponses" />
        </xsd:sequence>
        <xsd:attribute name="requestID" type="y:RequestID" use="optional" />
      </xsd:complexType>
      <xsd:group name="BatchResponses">
        <xsd:choice>
          <xsd:element name="searchResponse" type="y:SearchResponse" />
          <xsd:element name="authResponse" type="y:LDAPResult" />
          <xsd:element name="modifyResponse" type="y:LDAPResult" />
          <xsd:element name="addResponse" type="y:LDAPResult" />
          <xsd:element name="delResponse" type="y:LDAPResult" />
          <xsd:element name="modDNResponse" type="y:LDAPResult" />
          <xsd:element name="compareResponse" type="y:LDAPResult" />
          <xsd:element name="extendedResponse" type="y:ExtendedResponse" />
          <xsd:element name="errorResponse" type="y:ErrorResponse" />
        </xsd:choice>
      </xsd:group>
      <xsd:complexType name="SearchResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchResultEntry" type="y:SearchResultEntry" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchResultReference" type="y:SearchResultReference" />
          <xsd:element name="searchResultDone" type="y:LDAPResult" />
        </xsd:sequence>
        <xsd:attribute name="requestID" type="y:RequestID" use="optional" />
      </xsd:complexType>
      <xsd:simpleType name="DsmlDN">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="DsmlRDN">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="RequestID">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="AttributeDescriptionValue">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="((([0-2](\.[0-9]+)+)|([a-zA-Z]+([a-zA-Z0-9]|[\-])*))(;([a-zA-Z0-9]|[\-])+)*)" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NumericOID">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-2]\.[0-9]+(\.[0-9]+)*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MAXINT">
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:maxInclusive value="2147483647" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DsmlValue">
        <xsd:union memberTypes="xsd:string xsd:base64Binary xsd:anyURI" />
      </xsd:simpleType>
      <xsd:complexType name="Control">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="controlValue" type="xsd:anyType" />
        </xsd:sequence>
        <xsd:attribute name="type" type="y:NumericOID" use="required" />
        <xsd:attribute default="false" name="criticality" type="xsd:boolean" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="Filter">
        <xsd:group ref="y:FilterGroup" />
      </xsd:complexType>
      <xsd:group name="FilterGroup">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="and" type="y:FilterSet" />
            <xsd:element name="or" type="y:FilterSet" />
            <xsd:element name="not" type="y:Filter" />
            <xsd:element name="equalityMatch" type="y:AttributeValueAssertion" />
            <xsd:element name="substrings" type="y:SubstringFilter" />
            <xsd:element name="greaterOrEqual" type="y:AttributeValueAssertion" />
            <xsd:element name="lessOrEqual" type="y:AttributeValueAssertion" />
            <xsd:element name="present" type="y:AttributeDescription" />
            <xsd:element name="approxMatch" type="y:AttributeValueAssertion" />
            <xsd:element name="extensibleMatch" type="y:MatchingRuleAssertion" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:group>
      <xsd:complexType name="FilterSet">
        <xsd:sequence>
          <xsd:group minOccurs="0" maxOccurs="unbounded" ref="y:FilterGroup" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AttributeValueAssertion">
        <xsd:sequence>
          <xsd:element name="value" type="y:DsmlValue" />
        </xsd:sequence>
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="required" />
      </xsd:complexType>
      <xsd:complexType name="AttributeDescription">
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="required" />
      </xsd:complexType>
      <xsd:complexType name="SubstringFilter">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="initial" type="y:DsmlValue" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="any" type="y:DsmlValue" />
          <xsd:element minOccurs="0" name="final" type="y:DsmlValue" />
        </xsd:sequence>
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="required" />
      </xsd:complexType>
      <xsd:complexType name="MatchingRuleAssertion">
        <xsd:sequence>
          <xsd:element name="value" type="y:DsmlValue" />
        </xsd:sequence>
        <xsd:attribute default="false" name="dnAttributes" type="xsd:boolean" use="optional" />
        <xsd:attribute name="matchingRule" type="xsd:string" use="optional" />
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="DsmlMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="control" type="y:Control" />
        </xsd:sequence>
        <xsd:attribute name="requestID" type="y:RequestID" use="optional" />
      </xsd:complexType>
      <xsd:simpleType name="LDAPResultCode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="success" />
          <xsd:enumeration value="operationsError" />
          <xsd:enumeration value="protocolError" />
          <xsd:enumeration value="timeLimitExceeded" />
          <xsd:enumeration value="sizeLimitExceeded" />
          <xsd:enumeration value="compareFalse" />
          <xsd:enumeration value="compareTrue" />
          <xsd:enumeration value="authMethodNotSupported" />
          <xsd:enumeration value="strongAuthRequired" />
          <xsd:enumeration value="referral" />
          <xsd:enumeration value="adminLimitExceeded" />
          <xsd:enumeration value="unavailableCriticalExtension" />
          <xsd:enumeration value="confidentialityRequired" />
          <xsd:enumeration value="saslBindInProgress" />
          <xsd:enumeration value="noSuchAttribute" />
          <xsd:enumeration value="undefinedAttributeType" />
          <xsd:enumeration value="inappropriateMatching" />
          <xsd:enumeration value="constraintViolation" />
          <xsd:enumeration value="attributeOrValueExists" />
          <xsd:enumeration value="invalidAttributeSyntax" />
          <xsd:enumeration value="noSuchObject" />
          <xsd:enumeration value="aliasProblem" />
          <xsd:enumeration value="invalidDNSyntax" />
          <xsd:enumeration value="aliasDerefencingProblem" />
          <xsd:enumeration value="inappropriateAuthentication" />
          <xsd:enumeration value="invalidCredentials" />
          <xsd:enumeration value="insufficientAccessRights" />
          <xsd:enumeration value="busy" />
          <xsd:enumeration value="unavailable" />
          <xsd:enumeration value="unwillingToPerform" />
          <xsd:enumeration value="loopDetect" />
          <xsd:enumeration value="namingViolation" />
          <xsd:enumeration value="objectClassViolation" />
          <xsd:enumeration value="notAllowedOnNonLeaf" />
          <xsd:enumeration value="notAllowedOnRDN" />
          <xsd:enumeration value="entryAlreadyExists" />
          <xsd:enumeration value="objectClassModsProhibited" />
          <xsd:enumeration value="affectMultipleDSAs" />
          <xsd:enumeration value="other" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ResultCode">
        <xsd:attribute name="code" type="xsd:int" use="required" />
        <xsd:attribute name="descr" type="y:LDAPResultCode" use="optional" />
      </xsd:complexType>
      <xsd:complexType name="LDAPResult">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element name="resultCode" type="y:ResultCode" />
              <xsd:element minOccurs="0" name="errorMessage" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="referral" type="xsd:anyURI" />
            </xsd:sequence>
            <xsd:attribute name="matchedDN" type="y:DsmlDN" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ErrorResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
          <xsd:element minOccurs="0" name="detail">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:any />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="requestID" type="y:RequestID" use="optional" />
        <xsd:attribute name="type">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="notAttempted" />
              <xsd:enumeration value="couldNotConnect" />
              <xsd:enumeration value="connectionClosed" />
              <xsd:enumeration value="malformedRequest" />
              <xsd:enumeration value="gatewayInternalError" />
              <xsd:enumeration value="authenticationFailed" />
              <xsd:enumeration value="unresolvableURI" />
              <xsd:enumeration value="other" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="AuthRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:attribute name="principal" type="xsd:string" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AttributeDescriptions">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="attribute" type="y:AttributeDescription" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element name="filter" type="y:Filter" />
              <xsd:element minOccurs="0" name="attributes" type="y:AttributeDescriptions" />
            </xsd:sequence>
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
            <xsd:attribute name="scope" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="baseObject" />
                  <xsd:enumeration value="singleLevel" />
                  <xsd:enumeration value="wholeSubtree" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="derefAliases" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="neverDerefAliases" />
                  <xsd:enumeration value="derefInSearching" />
                  <xsd:enumeration value="derefFindingBaseObj" />
                  <xsd:enumeration value="derefAlways" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute default="0" name="sizeLimit" type="y:MAXINT" use="optional" />
            <xsd:attribute default="0" name="timeLimit" type="y:MAXINT" use="optional" />
            <xsd:attribute default="false" name="typesOnly" type="xsd:boolean" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="SearchResultEntry">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="attr" type="y:DsmlAttr" />
            </xsd:sequence>
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DsmlAttr">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="y:DsmlValue" />
        </xsd:sequence>
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="required" />
      </xsd:complexType>
      <xsd:complexType name="DsmlModification">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="y:DsmlValue" />
        </xsd:sequence>
        <xsd:attribute name="name" type="y:AttributeDescriptionValue" use="required" />
        <xsd:attribute name="operation" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="add" />
              <xsd:enumeration value="delete" />
              <xsd:enumeration value="replace" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>
      <xsd:complexType name="SearchResultReference">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="ref" type="xsd:anyURI" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ModifyRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="modification" type="y:DsmlModification" />
            </xsd:sequence>
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AddRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="attr" type="y:DsmlAttr" />
            </xsd:sequence>
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DelRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ModifyDNRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
            <xsd:attribute name="newrdn" type="y:DsmlRDN" use="required" />
            <xsd:attribute default="true" name="deleteoldrdn" type="xsd:boolean" use="optional" />
            <xsd:attribute name="newSuperior" type="y:DsmlDN" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CompareRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element name="assertion" type="y:AttributeValueAssertion" />
            </xsd:sequence>
            <xsd:attribute name="dn" type="y:DsmlDN" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AbandonRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:attribute name="abandonID" type="y:RequestID" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ExtendedRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:DsmlMessage">
            <xsd:sequence>
              <xsd:element name="requestName" type="y:NumericOID" />
              <xsd:element minOccurs="0" name="requestValue" type="xsd:anyType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ExtendedResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="y:LDAPResult">
            <xsd:sequence>
              <xsd:element minOccurs="0" name="responseName" type="y:NumericOID" />
              <xsd:element minOccurs="0" name="response" type="xsd:anyType" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xs:schema>
  </types>
  <message name="dsmlRequest">
    <documentation>The request message to the DSML-compliant directory. This is a document of type BatchRequest (from the DSML schema)</documentation>
    <part name="batchRequest" element="y:batchRequest" />
  </message>
  <message name="dsmlResponse">
    <documentation>The response message to the DSML-compliant directory. This is a document of type BatchResponse (from the DSML schema)</documentation>
    <part name="batchResponse" element="y:batchResponse" />
  </message>
  <portType name="dsmlSoap">
    <documentation>Port Type for the DSML SOAP messages. 1 Operation is defined that makes a request on the Directory. Theoretically, an operation could be defined for each of the directory requests defined in DSML but the standard schema for DSDML is oriented towards this looser message definition.</documentation>
    <operation name="directoryRequest">
      <documentation>
                Two messages are defined for the directoryRequest operation. 
                <br />
                1. batchRequest - the request message to the Directory
                <br />
                2. batchResponse - the response from the Directory.
            </documentation>
      <input message="y:dsmlRequest">
        <documentation>The request message to the Directory</documentation>
      </input>
      <output message="y:dsmlResponse">
        <documentation>The response from the Directory.</documentation>
      </output>
    </operation>
  </portType>
  <binding name="dsmlQuerySoap" type="y:dsmlSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="directoryRequest">
      <documentation>Make a request to the directory server using the DSML-standard SOAP messages. Note that the SOAP Action (certainly for the Microsoft DSML implementation MUST be " #batchRequest "</documentation>
      <soap:operation soapAction="#batchRequest" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="dsmlQueryService">
    <port name="dsmlSoapQuery" binding="y:dsmlQuerySoap">
      <soap:address location="http://localhost:9080/dsml/services/dsmlSoapQuery" />
    </port>
  </service>
</definitions>